<h2>Reactive Form Module</h2>
<div>
  <form [formGroup]="loginForm" (ngSubmit)="registerUser()">
    <table style="width:60%;" cellpadding="5" cellspacing="5">
      <tr>
        <td style="width :40%;">
          <label for="username">User Name</label>
        </td>
        <td style="width :60%;">
          <input type="text" name="username" id="username" [formControl]="username">
          <div [hidden]="username.valid || username.untouched" class="error">
            <div [hidden]="!username.hasError('minlength')">
              Username can not be shorter than 5 characters.
            </div>
            <div [hidden]="!username.hasError('required')">
              Username is required.
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width :40%;">
          <label for="password">Password</label>
        </td>
        <td style="width :60%;">
          <input type="password" name="password" id="password" [formControl]="password">
          <div [hidden]="password.valid || password.untouched" class="error">
            <div [hidden]="!password.hasError('required')">
              The password is required.
            </div>
            <div [hidden]="!password.hasError('needsExclamation')">
              Your password must have an exclamation mark!
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width :40%;">
          <button type="button" (click)="resetForm()">Reset Form</button>
        </td>
        <td style="width :60%;">
          <button type="submit" [disabled]="!loginForm.valid">Log In</button>
        </td>
      </tr>
    </table>
  </form>
  <div *ngIf="showMessage">
    <h3>Thanks You {{formData.username}} for registration</h3>
  </div>
</div>
